<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="/">라이브 커머스</a>
        <!-- 생략 -->
    </nav>
</div>

<div layout:fragment="content">
    <div class="container mt-5">
        <h2>공지사항 목록</h2>
        <div th:each="notice : ${notices}">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title" th:text="${notice.title}">제목 없음</h5>
                    <p class="card-text" th:text="${notice.content}">내용 없음</p>
                    <p class="card-text"><small class="text-muted" th:text="'작성자: ' + ${notice.author}">작성자 없음</small></p>
                    <p class="card-text"><small class="text-muted" th:text="'작성일: ' + ${#temporals.format(notice.regTime, 'yyyy-MM-dd HH:mm:ss')}">작성 시간 없음</small></p>
                    <a class="btn btn-primary" th:href="@{/admin/notice/edit/{id}(id=${notice.id})}">수정</a>

                    <form th:action="@{/admin/notice/delete/{id}(id=${notice.id})}" method="post" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-danger">삭제</button>
                    </form>

                    <!-- 댓글 보기 링크 -->
                    <a class="btn btn-info" th:href="@{/notices/{id}/comments(id=${notice.id})}">댓글 보기</a>

                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:class="${notices.first} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/notices(page=0)}">&laquo;</a>
                </li>
                <li class="page-item" th:class="${notices.first} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/notices(page=${notices.number - 1})}">이전</a>
                </li>
                <li class="page-item" th:class="${notices.last} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/notices(page=${notices.number + 1})}">다음</a>
                </li>
                <li class="page-item" th:class="${notices.last} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/notices(page=${notices.totalPages - 1})}">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>
